.dir-list{
    /* outline: solid var(--secondary) 1px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px;
    height: 300px;
    width: 300px;
    padding: 5px;
    overflow: scroll;
}
@media (max-width:769px) {
    .dir-list{
        /* background-color: red; */
        /* outline: solid var(--secondary) 1px; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 10px;
        height: 10vh;
        width: 80vw;
        padding: 5px;
    }
}