.dir-list{
    /* outline: solid var(--secondary) 1px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 15px 10px 10px 10px;
    height: fit-content;
    max-height: 200px;
    width: 300px;
    padding: 5px;
    overflow: scroll;
    font-family:monospace;
    background-color: azure;
    box-shadow:rgb(109, 53, 114) 0 10px 10px 10px;
}
@media (max-width:769px) {
    .dir-list{
        /* background-color: red; */
        /* outline: solid var(--secondary) 1px; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 10px 10px 40px 10px;
        height: 10vh;
        width: 80vw;
        padding: 5px;
    }
}