@media (max-width:768px) {
    .body-container{
        /* outline: solid var(--secondary) 1px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 98vw;
    }
}

@media (min-width:769px) {
    .body-container{
        /* outline: solid var(--secondary) 1px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        width: 98vw;
    }
}