.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-wrap: break-word; /* Adjusts text wrapping */
    height: 50%;
    width: 80%;
}
h1{
    margin: 0;
    font-family: "Playfair Display";
}
.markdown-body{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width:70%;
    max-width: 650px;
}

.github-readme-md{
    width: 100%;
    display: flex;
    justify-content: center;
}